*{
    margin: 0;
    padding: 15px;
}

body {
  background-color: #BFAED8;
  font-family: monospace;
  font-size: 20px;
  color: black;
  text-align: center;
}

h1{
  font-size: 45px;
  color:  #1A0642;
  text-align:center;
}

h2{
  font-size: 30px;
  color:  #1A0642;
  text-align:center;
}